body{
    background-color: black;
}
.container-padre{
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 150px;
    width: 100%;
    border-radius: 5px;
   /* border: 6px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Botón situado a la derecha del container padre y centrado verticalmente*/
.button{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    margin-right: 10px;
}
/*Logo centrado en el container padre, con tamaños especifico*/
.logo{
    height: 150px;
    width: auto;
    border-radius: 4px;
}
/*Separación de la tarjeta en relación del borde superior e izquierdo*/
.contenedorTarjeta{
    margin-top: 30px;
    margin-left: 30px;
}
/*Contenedor del calendario con un ancho fijo y compotamiento en línea*/
.contenedorCalendario{
    width: 400px;
    display: inline;
}
/*Estilo del calendario completo, centrado, con bordes que son visibles y estilo monoespaciado*/
/*Estilo del titulo, celdas y dias del calendario */
#calendar {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
    font-family: monospace;
    border: 6px solid crimson;

  }
  #calendar caption {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: aliceblue;
    border: 6px solid crimson;
  }
  #calendar td, #calendar th {
    border: 1px solid #999;
    padding: 10px;
  }
  #calendar .hoy {
    background-color: crimson;
    color: white;
    font-weight: bold;
  }
  #calendar caption div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #calendar caption a {
    cursor: pointer;
    padding: 5px 10px;
    background: #ccc;
    border-radius: 4px;
    text-decoration: none;
  }
  #calendar .clase-dia {
    background-color: #28a745; /* verde */
    color: white;
  }
  
  #calendar .actuacion {
    background-color: #007bff; /* azul */
    color: white;
    font-weight: bold;
  }
  
  #calendar .hoy {
    background-color: crimson;
    color: white;
    font-weight: bold;
  }
  /*Estilo para las tarjetas, indicando margen */
  .card {
    margin-top: 20px;
    margin-right: 20px;
  }

  
.div-clases{
}

.div-mensajes{
    background-color: white;
    border-radius: 5px;
}
/*Estilo para el encabezado del contenedor de mensajes*/
.menu-mensajes{
    background-color: #0C6EFD;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 40px;
}

.menu-opcion{
}