body{
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container-padre{
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}
.button{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    margin-right: 10px;
}
.logo{
    height: 150px;
    width: auto;
    border-radius: 4px;
}
.btn-dark {
    background-color: #000 !important;
    color: white !important;
    border: none;
    transition: all 0.3s ease;
}

.btn-dark:hover {
    background-color: crimson !important;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}
@media (max-width: 576px) {
    .navbar-text {
      font-size: 0.9rem;
    }
  }

.container-mensajes{
    width: 100%;
    height: 400px;
}

.menu-lateral{
    background-color: white;
    height: 100%;
    border-right: 1px solid black;
}

.menu-mensajes{
    background-color: white;
    width: auto;
    height: 100%;
}

.boton-menu{
    height: 40px;
    cursor: pointer;
}

.boton-menu:hover{
    background-color: #CC374D;
}

.mensaje{
    height: 40px;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.mensaje:hover{
    background-color: #dfdfdf;
}

.no-gutter{
    --bs-gutter-x: 0;
}