RewriteEngine On

RewriteCond %{REQUEST_URI} !^/login$
RewriteRule ^$ index.php [L]
RewriteRule ^ficha$ html/fichaAlumno.php [L]
RewriteRule ^cms$ html/cms.php [L]
RewriteRule ^alumnos$ html/alumnos.php [L]
RewriteRule ^pmensajes$ html/notificacionesProfesora.php [L]
RewriteRule ^amensajes$ html/notificacionesAlumnos.php [L]
RewriteRule ^pagos$ html/pagos.php [L]
